@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Pacifico&display=swap');

body {
  font-family: 'Comfortaa', sans-serif;
}

header h1 {
  font-family: 'Pacifico', cursive;
}

.receta p {
  font-style: italic;
}

